.showcase {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/robot.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    min-height: 400px;
}

.showcase .website-name {
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 15px;
    border: 3px solid white;
    font-weight: 300;
}

.showcase a img { 
    height: 70px;
    width: auto;
    -webkit-filter: invert(100%);
    filter: invert(-100%);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    animation: move-down 2s infinite;
}

@keyframes move-down {
    from {
        transform: translateY(-50px);
        opacity: 1;
    }
    to {
        transform: translateY(0px);
        opacity: 0;
    }
}

.content .about {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    background-color: white;
    display: flex;
    margin: 40px;
    align-items: stretch;
}

.content .about .text {
    flex: 1;
}

.content .about .image {
    flex: 1;
}

.content .about .image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block;
}


.content .about .text h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.content .about .text p {
    line-height: 3.0rem;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    font-size: 1.5rem;
}

/* Media */
@media (max-width: 1050px) {
    .content .about {
        flex-direction: column;
    }

    .content .about .text h1 {
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 2rem
    }

    .content .about .text p {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
        font-size: 1rem;
        line-height: 2rem;
    }

}